<a href="https://colab.research.google.com/github/kimjinsun01/colab/blob/main/lesson2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2장예제

In [2]:
a = 100
b = 200
c= a + b
print(a, "+",b, "=",c)

100 + 200 = 300

In [3]:
num1 = 500
num2 = 200
result = num1 - num2
print(num1, "-", num2, "=", result)

500 - 200 = 300

In [4]:
num1 = 100
num2 = 50
result = num1 * num2
print(num1, "*", num2, "=", result)

100 * 50 = 5000

In [7]:
num1 = 8
num2 = 17
result = num1 / num2
print(num1, "/", num2, "=", result)

8 / 17 = 0.47058823529411764

In [9]:
num1 = 4
num2 = 2
result = num1 % num2
print(num1, "%", num2, "=", result)

4 % 2 = 0

In [15]:
str1 = "안산공고"
str2 = "컴퓨터과"
result = str1 + str2
print(result)

안산공고컴퓨터과

In [12]:
num1 = 4
num2 = 2
result = num1 // num2
print(num1, "//", num2, "=", result)

4 // 2 = 2

In [14]:
num1 = 100
num2 = 200
result1 = num1 + num2
result2 = num1 - num2
result3 = num1 * num2
result4 = num1 / num2


print(num1, "+", num2, "=", result1) 
print(num1, "-", num2, "=", result2) 
print(num1, "*", num2, "=", result3) 
print(num1, "/", num2, "=", result4)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

In [16]:
str1 = "안산공고"
str2 = "컴퓨터과"
result = str1 * 3
print(result)

안산공고안산공고안산공고

In [25]:
num1 = int(input("숫자1 ==>"))
num2 = int(input("숫자2 ==>"))
result = num1 + num2
print(result)

숫자1 ==>100
숫자2 ==>200
300

In [30]:
print("##택배를 보내기 위한 정보를 입력하세요. ##")
personName = input("받는 사람 : ")
personAddr = input("주소 : ")
weight = int(input("무게() :"))
print("** 받는 사람 ==>", personName)
print("** 주소 =>", personAddr)

print("** 배송비 ==>", weight * 5, "원")

##택배를 보내기 위한 정보를 입력하세요. ##
받는 사람 : 김난생
주소 : 서울 영등포구 여의도동 88
무게() :721
** 받는 사람 ==> 김난생
** 주소 => 서울 영등포구 여의도동 88
** 배송비 ==> 3605 원

In [36]:
num1 = int(input("숫자1 ==>"))
num2 = int(input("숫자2 ==> "))

result1 = num1 + num2
result2 = num1 - num2
result3 = num1 * num2
result4 = num1 / num2
result5 = num1 % num2
result6 = num1 ** num2

print(num1, "+", num2, "=", result1) 
print(num1, "-", num2, "=", result2) 
print(num1, "*", num2, "=", result3) 
print(num1, "/", num2, "=", result4)
print(num1, "%", num2, "=", result5) 
print(num1, "**", num2, "=", result6)

숫자1 ==>100
숫자2 ==> 10
100 + 10 = 110
100 - 10 = 90
100 * 10 = 1000
100 / 10 = 10.0
100 % 10 = 0
100 ** 10 = 100000000000000000000

In [49]:
#!pip3 install Colabturtle
import ColabTurtle.Turtle as turtle

turtle.initializeTurtle()
turtle.forward(200)
turtle.left(90)
turtle.forward(200)
turtle.left(90)
turtle.forward(200)
turtle.left(90)
turtle.forward(200)