<a href="https://colab.research.google.com/github/kimjinsun01/colab/blob/main/Lession6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for i in range(3) :
  print("난생처음 파이썬은 재미있습니다. ^^")

난생처음 파이썬은 재미있습니다. ^^
난생처음 파이썬은 재미있습니다. ^^
난생처음 파이썬은 재미있습니다. ^^

In [6]:
myList = ["짜장면","김밥","라면"]
for i in myList :
  print(i)

짜장면
김밥
라면

In [18]:
fiag = 1
sum = 9
for i in range(1, 100, 2):
  if fiag == 1:
    sum = sum + i
    fiag = fiag * - 1
  else :
    sum = sum -1
    fiag = fiag * - 1
print(sum)

1209

In [3]:
fact = 1
friends_num = 5

for i in range(1, friends_num + 1, 1):
  fact = fact * i

print("A,B,C,D,E 학생들을 순서대로 세우는 경우의 수 : ",fact)

A,B,C,D,E 학생들을 순서대로 세우는 경우의 수 :  120

In [20]:
hap = 0

for i in range(1, 11, 1):
  hap = hap + i

print("1에서 10까지의 합 : ", hap)

1에서 10까지의 합 :  55

In [21]:
i, hap = 0, 0

for i in range(1001, 2001, 2) :
  hap += i

print("1000에서 2000까지의 홀수의 합 :", hap)

1000에서 2000까지의 홀수의 합 : 750000

In [22]:
for i in range (3) :
  for k in range(2) :
    print("난생처음은 쉽습니다. ^^ (i값:",i,",k값:",k,")")

난생처음은 쉽습니다. ^^ (i값: 0 ,k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 0 ,k값: 1 )
난생처음은 쉽습니다. ^^ (i값: 1 ,k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 1 ,k값: 1 )
난생처음은 쉽습니다. ^^ (i값: 2 ,k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 2 ,k값: 1 )

In [23]:
for i in range (2) :
  for k in range(3) :
    print("중첩 for문입니다")

중첩 for문입니다
중첩 for문입니다
중첩 for문입니다
중첩 for문입니다
중첩 for문입니다
중첩 for문입니다

In [24]:
i = 0
j = 0

for i in range(2, 10) :
  for j in range(1, 10) :
    print(i, "X",j,"=", i * j)
  print("")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81